body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

p {
    text-align: center;
    color: white;
}

/* Nav Bar */
#nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background-color: #1E00FF;
    border: 1px solid #FFA600;
}

#nav h1 {
    color: #FFA600;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

#nav #return-menu {
    margin-right: 2rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* Player Selection Mode */

#player-selection {
    background-color: #1E00FF;
    border: 1px solid black;
    border-radius: 50px 5px;
    box-shadow: 5px 5px 15px;
    margin: 6rem 10rem 0 10rem;
    padding: 8rem;
}

#player-selection p {
    font-size: 2rem;
}

#player-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Category Selection Mode */

#category-selection {
    background-color: #1E00FF;
    border: 1px solid black;
    border-radius: 50px 5px;
    box-shadow: 5px 5px 15px;
    margin: 6rem 10rem 0 10rem;
    padding: 8rem;
}

#category-selection p{
    font-size: 2rem;
}

#category-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Question Display */
  
#question-container {
    text-align: center;
    border: 1px solid black;
    border-radius: 50px 5px;
    box-shadow: 5px 5px 15px;
    margin: 6rem 10rem 0 10rem;
    padding: 8rem;
}

.color {
    background-color: #1E00FF;
}

#question-text {
    color: white;
    margin: 2rem;
}

#options-list {
    list-style: none;
    padding: 2rem;
}

#options-list li {
    margin: 10px;
}

  
button {
    background-color: white;
    color: #1E00FF;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 50px;
    width: 15rem;
    height: 3.5rem;
    margin: 2rem;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 5px 5px 15px #0f0081;
}

#answer-text {
    font-size: 1.3rem;
}

.correct {
    background-color: #3ce41e;
}

.incorrect {
    background-color: #FF0D00;
}

.remove {
    display: none;
}

.step:first-child {
    display: block;
}

.point:first-child {
    display: block;
}

#points-container-one-player.point {
    color: #1E00FF;
    text-align: center;
}

#points-container-player-one {
    color: #1E00FF;
    text-align: center;
}

#points-container-player-two {
    color: #1E00FF;
    text-align: center;
}

#timer {
    text-align: center;
    color: #1E00FF;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 5rem;
}

#show-result, #player-switched {
    color: white;
    font-size: 2rem;
    text-align: center;
    background-color: #1E00FF;
    border: 1px solid black;
    border-radius: 50px 5px;
    box-shadow: 5px 5px 15px;
    margin: 6rem 10rem 0 10rem;
    padding: 8rem;
    height: 6em;
}

#result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
